{% extends 'base.html.twig' %}

{% block user_edit %}
<div class="container" style="margin-top: 100px;">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-6" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Edit Profile {{user.username}}</h3>
                </div>
                <div id="exTab1">
                    <ul  class="nav nav-tabs">
                        <li class="active">
                            <a  href="#1a" data-toggle="tab">General</a>
                        </li>
                        <li><a href="#2a" data-toggle="tab">Change Password</a>
                        </li>
                    </ul>

                    <div class="tab-content clearfix">
                        <div class="tab-pane active" id="1a">
                            <div class="panel-body">
                                {{ form_start(form_profile_noPass) }}
                                <div class="form-group">
                                    <label>Email</label>
                                    {{ form_widget(form_profile_noPass.email, {'attr': {'class':'form-control input-sm'} }) }}
                                </div>

                                <div class="form-group">
                                    <label>User Name</label>
                                    {{ form_widget(form_profile_noPass.username, {'attr': {'class':'form-control input-sm'} }) }}
                                </div>


                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label>Enable</label>
                                            {{ form_widget(form_profile_noPass.isactive, {'attr': {'class':''} }) }}
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label>Roles</label>
                                            {{ form_widget(form_profile_noPass.roles, {'attr': {'class':''} }) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <img class="img-circle img-bordered-primary" src="{{ asset('upload/images/') }}{{ img_link }}" width="120" />
                                    {{ form_widget(form_profile_noPass.file, {'attr': {'class':''} }) }}
                                </div>


                                {{ form_widget(form_profile_noPass.submit, {'attr': {'class':'btn btn-info btn-block'} }) }}
                                {{ form_end(form_profile_noPass)}}

                            </div>
                        </div>
                        <div class="tab-pane" id="2a">
                            <div class="panel-body">
                                {{ form_start(form_profile_yesPass) }}
                                <div class="form-group">
                                    <label>New Password</label>
                                    {{ form_widget(form_profile_yesPass.password.first, {'attr': {'class':'form-control input-sm'} }) }}
                                </div>
                                <div class="form-group">
                                    <label>Repeat password</label>
                                    {{ form_widget(form_profile_yesPass.password.second, {'attr': {'class':'form-control input-sm'} }) }}
                                </div>
                                {{ form_widget(form_profile_yesPass.submit, {'attr': {'class':'btn btn-info btn-block'} }) }}
                                {{ form_end(form_profile_yesPass)}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
    </div>
    </div>

{% endblock %}
