<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/css/login.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/css/footer.css') }}" />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" />
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% if is_granted('ROLE_ADMIN') %}

                        {% endif %}
                        {% if is_granted('ROLE_CREATOR') %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/register">Create New User</a></li>
                                    <li><a href="/userlist">User List</a></li>
                                    <li><a href="/userlist_pdf">User List In PDF</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">&nbsp; <i class="fa fa-circle text-success"></i> {{ app.user.username }}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{path('user.edit', {id: app.user.id}) }}">Profile</a></li>
                                <li><a href="{{ logout_path() }}">Logout</a></li>
                            </ul>
                        </li>

                    {% else %}
                        <li><a href="/login" >Sign in</a> </li>


                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div style="margin-top:40px;">
    {% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
{% block login %}{% endblock %}
{% block user_edit %}{% endblock %}
{% block register %}{% endblock %}
{% block page_content %}{% endblock %}

</div>
<footer class="footer-distributed">

    <div class="footer-left">

        <h3>Bizz<span>System</span></h3>

        <p class="footer-links">

        </p>

        <p class="footer-company-name">Global Technology Solutiond &copy; 2018</p>
    </div>

    <div class="footer-center">

        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>110 Toktogul Street</span> Bishkek, Kyrgyzstan</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>Office: 996 312 881 982</p>
            <p>Mob.  : 996 551 442 488 </p>
        </div>

        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:office@glotechsol.com">office@glotechsol.com</a></p>
        </div>

    </div>

    <div class="footer-right">

        <p class="footer-company-about">
            <span>About Bizz</span>
            E Commerce For World!
        </p>

        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-github"></i></a>

        </div>

    </div>

</footer>
</body>
</html>
