 <div class="progress" syle="display:none;">
  <div class="progress-bar progress-bar-striped active" role="progressbar"
  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
    
  </div>
</div>

<div class="ajax_loader_main">
<div class="ajax_loader"></div>
</div>
<style>
html, body
{
    height: 100%;
}
.ajax_loader_main {
  background-color:#222;
  width: 100%;
  height:auto;
  min-height:100%;
  position:absolute;
  opacity:0.5;
  display:none;
  z-index: 10000;
}
.ajax_loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position:absolute;
  top:50%;
  left:45%;

}
</style>
 
