{% extends 'base.html.twig' %}

{% block title %}AppBundle:Register:register{% endblock %}

{% block register %}
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3>Register</h3>
        </div>
    </div>


    <div class="container">
        <div class="row centered-form">
            <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">User sign up</h3>
                    </div>
                    <div class="panel-body">
                        {{ form_start(form) }}
                            <div class="form-group">
                                <label>Email</label>
                                {{ form_widget(form.email, {'attr': {'class':'form-control input-sm'} }) }}
                            </div>

                            <div class="form-group">
                                <label>User Name</label>
                                {{ form_widget(form.username, {'attr': {'class':'form-control input-sm'} }) }}
                            </div>



                            <div class="form-group">
                                <label>Password</label>
                                {{ form_widget(form.password.first, {'attr': {'class':'form-control input-sm'} }) }}
                            </div>
                            <div class="form-group">
                                <label>Repeat passworf</label>
                                {{ form_widget(form.password.second, {'attr': {'class':'form-control input-sm'} }) }}
                            </div>

                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label>Enable</label>
                                        {{ form_widget(form.isactive, {'attr': {'class':''} }) }}
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label>Roles</label>
                                        {{ form_widget(form.roles, {'attr': {'class':''} }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label>User Image</label>
                                {{ form_widget(form.file, {'attr': {'class':''} }) }}
                            </div>


                            {{ form_widget(form.submit, {'attr': {'class':'btn btn-info btn-block'} }) }}
                        {{ form_end(form)}}

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


